pipeline/automateTransforming.json
{
	"name": "automateTransforming",
	"properties": {
		"activities": [
			{
				"name": "DataTransformation",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/sbentaleb.ext@simplonformations.onmicrosoft.com/AzurePublicTransportDataIntegration/ETL/integration"
				},
				"linkedServiceName": {
					"referenceName": "bentalebDataBricksLink",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Run log",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DataTransformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transformationInfo",
					"value": "@activity('DataTransformation').output.runOutput"
				}
			}
		],
		"variables": {
			"transformationInfo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}